---

---

$text-color: white;
$background-color: #000033;
$content-width: 1000px;

@import "minima";

.home-content {
    text-align: center;
    padding: 0em 3em;
    margin: 0;
    font-size: 11pt;
}

.welcome-page-content {
    margin: 0;
    font-size: 13pt;
    clear: both;
    background-color: #00000083;
    padding: 2em 0em 1em 1em;
}

.welcome .page-heading {
    font-size: 50pt;
    text-align: center;
    padding: 3em 1em 3em 1em;
}

.welcome img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    margin:auto;
}

.welcome a {
    color: white;
    border-bottom: 1px solid white;
}

.home-content h2 {
    font-size: 27pt;
}
.home-content a {
    color: white;
    border-bottom: 1px solid white;
}

.downloadpage-content {
    text-align: center;
    font-size: 20pt;
}

.box-container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.article-container{
    margin: .5em;
}

.article-thumbnail {
    max-height: 120px;
    max-width: 200px;
    background: #0e0e0e;
    border-radius: 2em;
}

.article-container a {
    color: transparent;
    border-bottom: 0px;
}

.section-nav {
    padding: 10px 30px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}

.caption {
    display: block;
}

.itch-widget {
    padding: 2em 3em;
    border-radius: 2em;
    margin: 30px 30px;
}

.home-box {
    background: #050014c7;
    padding: 2em 1em 2em 1em;
    border-radius: 2em;
    margin: 3em 0em;
}

.page-list-heading {
    text-align: center;
}

.home-box .latests-posts-box {
    padding: 0em 2em 0em 2em;
}

body {
    background: rgb(5,0,20);
    background: linear-gradient(90deg, rgba(5,0,20,1) 0%, rgba(34,0,62,1) 50%, rgba(5,0,20,1) 100%); 
    // background: rgb(158,10,236);
    // background: linear-gradient(201deg, rgba(158,10,236,1) 0%, rgba(158,10,236,1) 0%, rgba(42,184,250,1) 100%); 
}

.categoryPage-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.categoryIteration h1 {
    font-size: 35px;
}

.wikiPage{
    clear: both;
    background-color: #00000037;
    padding: 0em 0em 1em 1em;
}

.wikiPage th {
    border: 1px solid rgb(76, 3, 116);
    background-color: rgb(120, 6, 182);
}

.wikiPage table {
    border: 1px solid rgb(76, 3, 116);
    max-width: 35%;
    margin: 0px 20px;
    float: right;
    empty-cells: hide;
}

.wikiPage td, td img {
    border: 1px solid rgb(76, 3, 116);
    background-color: rgb(158,10,236);
    width: 100%;
    height: 100%;
    padding: 0em;
}

.post-meta {
    color: white;
}

.site-title, .site-title:visited {
    color: #ddd;
}

.site-header {
    border-top: 0px;
}

.footer-col-wrapper{
    color: white;
}

.svg-icon {
    fill: white;
}

a {
    color: white;
    border-bottom: 1px solid transparent;
}

a:hover {
    opacity: 0.8;
    text-decoration: none;
    // border-bottom: 1px solid 3rgba(255, 255, 255, 0.5);
}