---
layout: page

characterName: CharacterName
characterAlias:
characterOccupation:
---



<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        align-self: right;
    }
    th, td {
        padding: 5px;
        text-align: center;
    }
</style>

<table style="width:40%" align="right">
    <tr>
        <th><b>Alias</b></th>
        <td>{{page.characterAlias}}</td>
    </tr>
    <tr>
        <th><b>Occupation</b></th>
        <td>{{page.characterOccupation}}</td>
    </tr>
</table>

{{ content }}