---
layout: page
---

{{ content }}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>

<table style="width:75%">
    <tr>
        <th><b>Alias</b></th>
        <td>Bonnie the Bunny
            Bonnie the Rabbit
            Withered Bonnie</td>
    </tr>
    <tr>
        <th><b>Occupation</b></th>
        <td>Guitarist</td>
    </tr>
    <tr>
        <th><b>Affiliation</b></th>
        <td>Freddy Fazbear's Pizza</td>
    </tr>
    <tr>
        <th><b>Owner</b></th>
        <td>Fazbear Entertainment, Inc.</td>
    </tr>
</table>