---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="home-content">
    {{ content }}
  </div>

  <div class="home-box">
    {%- if site.posts.size > 0 -%}
      <div class="latests-posts-box"> 
        <h1 class="page-list-heading">Latest Blog Posts</h1>
        <ul class="post-list">
          {%- for post in site.posts -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
  
  <div class="home-box">
    <div class="categoryIteration">
        <h1 class="page-list-heading">Featured Articles</h1>
          <div class="box-container">
              <div class="article-container">
                <a href="{{ site.url }}{{ site.baseurl }}{{ site.game[0].url }}"><img class="article-thumbnail" src="{{ site.url }}{{ site.baseurl }}{{ site.game[0].thumbnail }}" /></a>
                <span class="caption">{{ site.game[0].wikiPageTitle }}</span>
              </div>
        </div>
    </div>
  </div>
</div>

  
  <!-- {%- for page in site.characters -%}
      <div id="smallContainer">
          <div class="small">
            <a href="{{ page.url }}"><img class="article-thumbnail" src="{{ page.thumbnail }}" /></a>
            <span class="caption">{{ page.wikiPageTitle }}</span>
          </div>     
    </div>
    <div class="box-container">
      <a href="{{ page.url }}"><img class="article-thumbnail" src="{{ page.thumbnail }}" /></a>
      <span class="caption">{{ page.wikiPageTitle }}</span>
    </div>
    {%- endfor -%} -->